@import url(styleFontIran.css);
::-moz-selection {color: #fff;background: #1B99DA;}
::selection {color: #fff;background: #1B99DA;}
:focus {outline: none;}
* {margin: 0;padding: 0;}
html {overflow-x: hidden;}
html,body,button,input,optgroup,a,span,form,div,ul,li,p,strong,em,div,h1,h2,h3,h4,h5,h6,section,main,select,textarea {}
a{transition:all .3s;}
/*    start code here   */

body{background: #fff;position: relative;}
.wrapper{position: relative;}
.wrapper>header{}
.wrapper>header>.circle-background{}
.wrapper>header>.container{}
.wrapper>header> nav{}
.wrapper>header> nav>ul.items{}
.wrapper>header> nav>ul.items>li.item{}
.wrapper>header> nav>ul.items>li.item>a{}
.wrapper>header> .header{}
.wrapper>header> .header>.content{}
.wrapper>header> .header>.content h1{}
.wrapper>header> .header>.content h1 span{}
.wrapper>header> .header>.content h1 span::before{content: '';}
.wrapper>header> .header>.content p{}
.wrapper>header> .header>.content .infoo{}
.wrapper>header> .header>.content .infoo img{}
.wrapper>header> .header>.content .infoo span{}
.wrapper>header> .header>.content a{}
.wrapper>header> .header>.img{}
.wrapper>header> .header>.img img{}
.wrapper>main{}

#sec_1{}
#sec_1>.container{}
#sec_1>.container>.form{}
#sec_1>.container>.form>.main{}
#sec_1>.container>.form>.main>.content{}
#sec_1>.container>.form>.main>.content>h3{}
#sec_1>.container>.form>.main>.content>span{}
#sec_1>.container>.form>.main>.content>p{}
#sec_1>.container>.form>.main>.content>ul{}
#sec_1>.container>.form>.main>.content>ul>li{}
#sec_1>.container>.form>.main>.content>ul>li>i{}
#sec_1>.container>.form>.main>.content>ul>li>i.icon{}
#sec_1>.container>.form>.main>.content>ul>li>i.tick{}
#sec_1>.container>.form>.main>.content>ul>li>i.info{}
#sec_1>.container>.form>.main>.content>ul>li>span{}
#sec_1>.container>.form>.main>.content>ul>li>span.info{}
#sec_1>.container>.form>.main>.content>button{}
#sec_1>.container>.form>.main>.content>button>i{}
#sec_1>.container>.form>.main>.content>button>span{}
#sec_1>.container>.form>.main>.content>button.active{}
#sec_1>.container>.form>.main>.content>button.unactive{}
#sec_1>.container>.form>.main>.formItems{}
#sec_1>.container>.form>.main>.formItems>.formItem{}

#selectItems{}
#selectItems>ul.items{}
#selectItems>ul.items>li.item{}
#selectItems>ul.items>li.item>.main{}
#selectItems>ul.items>li.item>.main>.circle{}
#selectItems>ul.items>li.item>.main>.circle.unactive{}
#selectItems>ul.items>li.item>.main>.circle.active{}
#selectItems>ul.items>li.item>.main>span{}
#selectItems>ul.items>li.item>.main>i{}
#selectItems>ul.items>li.item>.main>.promotion{}
#selectItems>ul.items>li.item>.main>.promotion>span{}
#selectItems>ul.items>li.item>.main>.promotion>span.first{}
#selectItems>ul.items>li.item>.main>.promotion>span.second{}
#selectItems>ul.items>li.item>.main>.Vertical.line{}
#selectItems>ul.items>li.item>.main>.cost{}

#formInputs{}
#formInputs>.icon{}
#formInputs>.icon>img{}
#formInputs>table{}
#formInputs>table>from{}
#formInputs>table>from>tr{}
#formInputs>table>from>tr>td{}
#formInputs>table>from>tr>td>input{}
#formInputs>table>from>tr>td>input[type="text"]{}
#formInputs>table>from>tr>td>input[type="tel"]{}
#formInputs>table>from>tr>td>input[type="url"]{}
#formInputs>table>from>tr>td>input[type="text"].keysName{}
#formInputs>table>from>tr>td>select{}
#formInputs>table>from>tr>td>#costs{}
#formInputs>table>from>tr>td>select>option{}

#registeredItems{}
#registeredItems img{}
#registeredItems span{}
#registeredItems p{}

#sec_1>.container>.form>.states{}
#sec_1>.container>.form>.states>.state{}
#sec_1>.container>.form>.states>.state div{}
#sec_1>.container>.form>.states>.state .uncheck{}
#sec_1>.container>.form>.states>.state .checked{}
#sec_1>.container>.form>.states>.state .circle.uncheck{}
#sec_1>.container>.form>.states>.state .circle.checked{}
#sec_1>.container>.form>.states>.state.selection{}
#sec_1>.container>.form>.states>.state.inquiry{}
#sec_1>.container>.form>.states>.state.register{}
#sec_1>.container>.form>.states>.state .circle{}
#sec_1>.container>.form>.states>.state .line{}
#sec_1>.container>.form>.states>.state.selection .circle::before{content:'انتخاب پلن';}
#sec_1>.container>.form>.states>.state.inquiry .circle::before{content:'استعلام سایت';}
#sec_1>.container>.form>.states>.state.register .circle::before{content:'ثبت سفارش';}

#sec_2{}
#sec_2>.main{}
#sec_2>.main>container{}
#sec_2>.main>container>methods{}
#sec_2>.main>container>methods{}















