@import url(styleFontIran.css);
::-moz-selection {color: #fff;background: #1B99DA;}
::selection {color: #fff;background: #1B99DA;}
:focus {outline: none;}
* {margin: 0;padding: 0;}
html {overflow-x: hidden;}
html,body,button,input,optgroup,a,span,form,div,ul,li,p,strong,em,div,h1,h2,h3,h4,h5,h6,section,main,select,textarea {}
a{transition:all .3s;text-decoration: none;}
/*    start code here   */

body{background: #fff;position: relative;}
.wrapper{position: relative;}









/* Custom Select */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: 'iranSans';
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.selectButtons div{width: 100px;min-height:50px;}
.surgeryType .select-items div:nth-child(1){
    background-image: url(../images/first_select_text.png);
}


/* questions*/
#sec_6>h2{
    font-size: 30px;
    color: #3e3e3e;
    text-align: center;
    font-weight: bold;
}
#sec_6>.items{
    margin-top: 50px;
    display: flex;
    width: 100%;
}
#sec_6>.items .panel-group{
    width: 100%;
    padding: 10px;
}
#sec_6>.items .panel-group .panel-default{
    margin-top: 20px;
}
#sec_6>.items .panel-group .panel-default>div{}
#sec_6>.items .panel-group .panel-default .panel-title{
    font-size: 15px;
    color: #3e3e3e;
    font-weight: 500;
}
#sec_6>.items .panel-group .panel-default .panel-title a{text-decoration: none;}
#sec_6>.items .panel-group .panel-default .panel-title a>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 25px 10px;
}
#sec_6>.items .panel-group .panel-default .panel-title a>div img{}
#sec_6>.items .panel-group .panel-default .panel-collapse{}
#sec_6>.items .panel-group .panel-default .panel-collapse .panel-body{}
#sec_6>.items .panel-group .panel-default .panel-collapse .panel-body img{}