@import url(styleFontIran.css);
::-moz-selection {color: #fff;background: #1B99DA;}
::selection {color: #fff;background: #1B99DA;}
:focus {outline: none;}
* {margin: 0;padding: 0;}
html {overflow-x: hidden; scroll-behavior: smooth;}
html,body,button,input,optgroup,a,span,form,div,ul,li,p,strong,em,div,h1,h2,h3,h4,h5,h6,section,main,select,textarea {}
a{transition:all .3s;text-decoration: none;}
/*    start code here   */

body{background: #fff;position: relative;overflow: hidden;}
.wrapper{position: relative;}
.wrapper>header{}
.wrapper>main{}
.wrapper>main>.container{}
.wrapper>main>.container>section{}
.wrapper>header>container{}
.wrapper nav{}
.wrapper nav>ul{}
.wrapper nav>ul>li{}
.wrapper nav>ul>li>a{}
.wrapper nav>ul>li>a:hover>img{}
.wrapper nav>ul>li>a>img{}
.wrapper>header img.logo{}
.wrapper h2{}

#sec_1{}
#sec_1>.content{}
#sec_1>.content>span{}
#sec_1>.content>hr{}
<<<<<<< HEAD
#sec_1>.content>h1{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    text-align: right;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
}
#sec_1>.content>h1::after{content: '«';display: block;color: #FFA2BE;position: absolute;font-size: 40px;top: -52px;left: 0;right: 219px;margin: auto;width: 27px;text-align: center;font-weight: 100;font-family: 'IRANSans';background: #5c2646;}
#sec_1>.content>h2{
    color: #FFCFDE;
    font-family: 'IRANSans' !important;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 30px;
}
=======
#sec_1>.content>h1{}
#sec_1>.content>h1:after{content:'>>';display:inline-block;}
#sec_1>.content>h2{}
>>>>>>> parent of b4142c5 (complate html css Breast_prosthesis)
#sec_1>.content>.buttons{}
#sec_1>.content>.buttons>a.first{}
#sec_1>.content>.buttons>a.first:before{content:'';}
#sec_1>.content>.buttons>a.second{}
#sec_1>.content>.buttons>a.second:before{content:'';}
#sec_1>.img{}
#sec_1>.img>img{}
#sec_1>.img>img::after{content:'';border-bottom: 2px dashed #FFA8C5; height:2px; width:100%; z-index:0; position:absolute; top:0; bottom:0; margin:auto;}

#sec_2{}
#sec_2>.icons{}
#sec_2>.icons>ul.items{}
#sec_2>.icons>ul.items>li.item{}
#sec_2>.icons>ul.items>li.item>.img{}
#sec_2>.icons>ul.items>li.item>.img>img{}
#sec_2>.icons>ul.items>li.item>.text{}
#sec_2>.icons>ul.items>li.item>.text>span{}
#sec_2>.icons>ul.items>li.item>.text>b{}
#sec_2>.body{}
#sec_2>.body>h2{}
#sec_2>.body>span{}
#sec_2>.body>img{}
.desktop{display: inherit;}
.mobile{display: none;}
#sec_2>.itemsSec{}
#sec_2>.itemsSec>ul.items{}
#sec_2>.itemsSec>ul.items>li.item{}
#sec_2>.itemsSec>ul.items>li.item>div{}
#sec_2>.itemsSec>ul.items>li.item>div>img{}
#sec_2>.itemsSec>ul.items>li.item>div>span{}
#sec_2>.itemsSec>ul.items>li.item>div>ul{}
#sec_2>.itemsSec>ul.items>li.item>div>ul>li{}
#sec_2>.itemsSec>ul.items>li.item>div>ul>li>img{}
#sec_2>.itemsSec>ul.items>li.item>div>ul>li>span{}

#sec_3{}
#sec_3>h2{}
/* Custom Select */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: 'iranSans';
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div{
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.selectButtons div{width: 100px;min-height:50px;}
.surgeryType .select-items div:nth-child(1){
    
}

#sec_3>.selectButtons{}
#sec_3>.selectButtons>.custom-select{}
#sec_3>.selectButtons>.custom-select>.select-selected{}
#sec_3>.selectButtons>.custom-select>.select-selected:after{}
#sec_3>.selectButtons>.custom-select>.select-items{}
#sec_3>.selectButtons>.custom-select>.select-items>div{}
#sec_3>.selectButtons>.surgeryType{}
#sec_3>.selectButtons>.surgeryView{}
#sec_3>.selectButtons>.surgeryType>.select-selected:before{content: "نوع عمل:";}
#sec_3>.selectButtons>.surgeryView>.select-selected:before{content: "نمای جراحی:";}
#sec_3>.selectButtons>.surgeryType>.select-selected.first{ background-image: url(../images/first_select_text.png);
}
#sec_3>.selectButtons>.surgeryType>.select-selected.second{ background-image: url(../images/second_select_text.png);
}
#sec_3>.selectButtons>.surgeryType>.select-selected.first + .select-items>div{ background-image: url(../images/second_select_text.png);
}

#sec_3>.selectButtons>.surgeryType>.select-selected.second + .select-items>div{background-image: url(../images/first_select_text.png);}

#sec_3>.First-slider{}
#sec_3>.First-slider>.owl-carousel.first{}
#sec_3>.First-slider>.owl-carousel.first .item{}
#sec_3>.First-slider>.owl-carousel.first .item img{}
#sec_3>.First-slider>.owl-carousel.first .owl-stage-outer{}
#sec_3>.First-slider>.owl-carousel.first .owl-nav{}
#sec_3>.First-slider>.owl-carousel.first .owl-nav .owl-prev{}
#sec_3>.First-slider>.owl-carousel.first .owl-nav .owl-prev img{}
#sec_3>.First-slider>.owl-carousel.first .owl-nav .owl-next{}
#sec_3>.First-slider>.owl-carousel.first .owl-nav .owl-next img{}
#sec_3>.First-slider>.owl-carousel.first .owl-dots{}
#sec_3>.First-slider>.owl-carousel.first .owl-dots button{}
#sec_3>.First-slider>.owl-carousel.first .owl-dots button.active{}
#sec_3>.First-slider>.owl-carousel.first .owl-dots button span{}
#sec_3>.First-slider>.owl-carousel.first .owl-dots button.active span{}

/* questions*/
#sec_6>h2{
    font-size: 30px;
    color: #3e3e3e;
    text-align: center;
    font-weight: bold;
}
#sec_6>.items{
    margin-top: 50px;
    display: flex;
    width: 100%;
}
#sec_6>.items .panel-group{
    width: 100%;
    padding: 10px;
}
#sec_6>.items .panel-group .panel-default{
    margin-top: 20px;
}
#sec_6>.items .panel-group .panel-default>div{}
#sec_6>.items .panel-group .panel-default .panel-title{
    font-size: 15px;
    color: #3e3e3e;
    font-weight: 500;
}
#sec_6>.items .panel-group .panel-default .panel-title a{text-decoration: none;}
#sec_6>.items .panel-group .panel-default .panel-title a>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 25px 10px;
}
#sec_6>.items .panel-group .panel-default .panel-title a>div img{}
#sec_6>.items .panel-group .panel-default .panel-collapse{}
#sec_6>.items .panel-group .panel-default .panel-collapse .panel-body{}
<<<<<<< HEAD
#sec_6>.items .panel-group .panel-default .panel-collapse .panel-body img{
    height: 18px;
}

#sec_7{
    margin-top: 120px;
}
#sec_7 .secondCover{
    position: relative;
}
#sec_7 .secondCover .bgcover{
    position: relative;
    z-index: 0;
}
#sec_7 .secondCover .bgcover img{}
#sec_7 .secondCover .content{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 70px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#sec_7 .secondCover .content h3{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 63px;
/* identical to box height */
    text-align: right;
    color: #FFFFFF;
}
#sec_7 .secondCover .content>p{
    margin: 20px 0;
}
#sec_7 .secondCover .content>p img{
    margin-left: 10px;
    max-width: 20px;
}
#sec_7 .secondCover .content>p span{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    text-align: right;
    color: #FFFFFF;
    display: inline-block;
}
#sec_7 .secondCover .content>ul.items{
    display: flex;
    margin-top: 10px;
}
#sec_7 .secondCover .content>ul.items>li.item{}
#sec_7 .secondCover .content>ul.items>li.item div{
    border: 1px solid #EDC1BB;
    border-radius: 17px;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
}
#sec_7 .secondCover .content>ul.items>li.item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#sec_7 .secondCover .content>ul.items>li.item div::before{content:'';background: #EDC1BB;border-radius: 17px;width: 0;height: 0;position: absolute;bottom: -2px;right: -2px;transition: all .4s;z-index: -1;}
#sec_7 .secondCover .content>ul.items>li.item a:hover div::before{width: 105%;height: 105%;}
#sec_7 .secondCover .content>ul.items>li.item a img{
    margin-bottom: 5px;
    max-width: 30px;
}
#sec_7 .secondCover .content>ul.items>li.item a span{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    text-align: right;
    color: #FFFFFF;
}
#sec_7 .secondCover .content>button{
    background: #FFBEAB;
    border-radius: 19px;
    border: 1px solid #FFBEAB;
    padding: 0px 30px;
    transition: all .3s;
    margin-top: 45px;
}

#sec_7 .secondCover .content>button:hover{
    color: #FFBEAB;
    background-color: inherit;
}

#sec_7 .secondCover .content>button span{
    font-family: 'MolsaqArabic';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 64px;
    text-align: right;
    color: #FFFFFF;
}

#sec_8{
    margin-top: 120px;
}
#sec_8 h2{
    margin-bottom: 30px;
}
#sec_8 ul.items{}
#sec_8 ul.items>li.item{}
#sec_8 ul.items>li.item>div.img{
    margin-bottom: 30px;
}
#sec_8 ul.items>li.item>div.img img{}
#sec_8 ul.items>li.item>div.img img{}

#sec_9{
    margin-top: 120px;
}
#sec_9 h2{
    margin-bottom: 40px;
}
#sec_9 .Second-slider{}
#sec_9 .Second-slider .owl-carousel.second{}
#sec_9 .Second-slider .owl-carousel.second .item{padding: 10px 4px;}
#sec_9 .Second-slider .owl-carousel.second .item .content{
    padding: 30px 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
}
#sec_9 .Second-slider .owl-carousel.second .item .content .profile{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#sec_9 .Second-slider .owl-carousel.second .item .content .profile img{
    width: 56px;
}
#sec_9 .Second-slider .owl-carousel.second .item .content .profile span{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
/* identical to box height */
    text-align: right;
    color: #777777;
    margin-right: 15px;
}
#sec_9 .Second-slider .owl-carousel.second .item .content .text{
    margin-top: 15px;
}
#sec_9 .Second-slider .owl-carousel.second .item .content .text p{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 28px;
    text-align: right;
    color: #767676;
}
/*
#sec_9 .Second-slider .owl-carousel.second .owl-stage-outer{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-prev{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-prev img{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-next{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-next img{}
#sec_9 .Second-slider .owl-carousel.second .owl-dots{}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button{}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button.active{}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button span{}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button.active span{}
*/

#sec_9 .Second-slider .owl-carousel.second .owl-nav{
    position: relative;
    width: 40%;
    text-align: center;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

#sec_9 .Second-slider .owl-carousel.second .owl-nav button{
    /* filter: grayscale(1); */
    transition: all .3s;
}

#sec_9 .Second-slider .owl-carousel.second .owl-nav button:hover{
    filter: grayscale(0);
    opacity: 1;
}
#sec_9 .Second-slider .owl-carousel.second .owl-nav button img{
    width: 50px;
}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-prev{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-prev img{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-next{}
#sec_9 .Second-slider .owl-carousel.second .owl-nav .owl-next img{}
#sec_9 .Second-slider .owl-carousel.second .owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button{
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button.active{}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button span{
    border: 1px solid #E3E3E3;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    transition: all .3s;
}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button span:hover{
    background: rgba(255, 162, 190, 0.95);
    border: 1px solid rgb(255, 162, 190);
}
#sec_9 .Second-slider .owl-carousel.second .owl-dots button.active span{
    background: #FFA2BE;
    border: 1px solid #FFA2C5;
}

.wrapper footer{
    margin-top: 120px;
    background: #713F4E;
}
.wrapper footer>.container{}
.wrapper footer>.container>.content{
    margin-bottom: 30px;
    padding-top: 65px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.wrapper footer>.container>.content>.name{}
.wrapper footer>.container>.content>.name h4{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
/* identical to box height */
    text-align: right;
    color: #FFFFFF;
}
.wrapper footer>.container>.content>.name span{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: #ECA9BD;
}
.wrapper footer>.container>.content>.nav{
    display: flex;
    align-items: center;
}
.wrapper footer>.container>.content>.nav ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.wrapper footer>.container>.content>.nav ul li{
    /* display: flex; */
    align-items: center;
}
.wrapper footer>.container>.content>.nav ul li a{
    padding: 0 5px 0 10px;
    border-right: 1px solid #FFA2BE;
}
.wrapper footer>.container>.content>.nav ul li a img{
    height: inherit;
    transform: scale(0.9);
    display: inline-block;
    transition: all .3s;
}

.wrapper footer>.container>.content>.nav ul li a:hover img{transform: scale(1);}
.wrapper footer>.container>.content>.button{}
.wrapper footer>.container>.content>.button button{
    position: relative;
    background: inherit;
    border: 2px solid #FFA2BE;
    border-radius: 18px;
    font-family: 'MolsaqArabic';
    font-style: normal;
    overflow: hidden;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
/* identical to box height */
    text-align: right;
    color: #FFA2BE;
    padding: 10px 35px;
    z-index: 1;
}
.wrapper footer>.container>.content>.button button::before{content:'';background: #FFA2BE;position: absolute;bottom: -4px;right: -4px;border-radius: 20px;transition: all .4s;width: 0;height: 115%;z-index: -1;}
.wrapper footer>.container>.content>.button button:hover{color:white;}
.wrapper footer>.container>.content>.button button:hover::before{width: 110%;}
.wrapper footer>.container>.info{
    border-top: 1px solid #BF758B;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.wrapper footer>.container>.info .address{}
.wrapper footer>.container>.info .address p{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}
.wrapper footer>.container>.info .number{}
.wrapper footer>.container>.info .number a{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}
.wrapper footer>.container>.info .social{}
.wrapper footer>.container>.info .social ul{
    display: flex;
}
.wrapper footer>.container>.info .social ul li{}
.wrapper footer>.container>.info .social ul li div{}
.wrapper footer>.container>.info .social ul li div a{}
.wrapper footer>.container>.info .social ul li div a img{
    transition: all .3s;
    height: 30px;
    width: 30px;
    margin: 15px;
}
.wrapper footer>.container>.info .social ul li div a:hover img{transform: scale(1.1);}
.wrapper footer>.container>.info .social ul li div a span{}

.shadowBG{position: fixed;background-color: #000000;opacity: 0.7;z-index:2;width:100%;height:100%;top: 0;display:none;}

.wrapper .adviceBody{
    position: fixed;
    z-index: 3;
    top: 30px;
    bottom: 30px;
    margin: auto;
    right: -400px;
    display: flex;
    transition: all 1s;
}
.wrapper .adviceBody.open{
    right: 30px;
}
.wrapper .adviceBody .formBody{
    background: #FFFFFF;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 325px;
}
.wrapper .adviceBody .formBody .topButtons{
    height: 70px;
    display: flex;
}

/*.wrapper .adviceBody .formBody .topButtons::after{content: '';background-color: #FFA8C6;height:100%;width: 100%;}*/

.wrapper .adviceBody .formBody .topButton{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #FFA8C6;
    border-radius: 0px 0px 20px 0px;
    padding: 20px 0;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    color: white;
    transition: all .4s;
}

.wrapper .adviceBody .formBody .topButton.active{
    background: inherit;
    color: #3F3F3F;
}

.wrapper .adviceBody .formBody .topButtons #toAdvicePage{
    min-width: 126px;
}
.wrapper .adviceBody .formBody .topButtons #toWhatsappPage{
   min-width: 81px;
}
.wrapper .adviceBody .formBody .topButtons #toTelegramPage{border-radius: 0;min-width: 81px;}
.wrapper .adviceBody .formBody .pages{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper .adviceBody .formBody .pages .formPage{display: none;align-items: center;position: relative;height: 100%;padding: 30px;width: 100%;}
.wrapper .adviceBody .formBody .pages .formPage.show{display: flex !important;}
.wrapper .adviceBody .formBody .pages .formPage form{
    position: relative;
    width: 100%;
}
.wrapper .adviceBody .formBody .pages .formPage form p{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 31px;
    text-align: center;
    color: #FFA8C6;
}
.wrapper .adviceBody .formBody .pages .formPage form input{
    opacity: 0;
    display: none;
}
.wrapper .adviceBody .formBody .pages .formPage form label{
    width: 100%;
    height: 59px;
    border: 1px solid #D8D8D8;
    border-radius: 15px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 31px;
    text-align: center;
    color: #3F3F3F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .3s;
}

.wrapper .adviceBody .formBody .pages .formPage form label:hover,.wrapper .adviceBody .formBody .pages .formPage form input:checked + label{
    background-color: #ffa8c647;
    border-color: #ffa8c6;
}

.wrapper .adviceBody .formBody .pages .formPage form button{
    min-height: 60px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.wrapper .adviceBody .formBody .pages .formPage form .InputButton{
    background: #EFEFEF;
}

.wrapper .adviceBody .formBody .pages .formPage form .InputButton.enable{
    background: #FFA8C6;
    transition: all .3s;
}

.wrapper .adviceBody .formBody .pages .formPage form .InputButton.pending{
    background: #EFEFEF;
}

.wrapper .adviceBody .formBody .pages .formPage form>.firstQS{display: none;align-items: center;flex-direction: column;justify-content: center;}
.wrapper .adviceBody .formBody .pages .formPage form>.firstQS.show{display: flex !important;}
.wrapper .adviceBody .formBody .pages .formPage form>.secondQS{display: none;flex-direction: column;}
.wrapper .adviceBody .formBody .pages .formPage form>.secondQS.show{display: flex !important;}
.wrapper .adviceBody .formBody .pages .formPage form>.thirdQS{display: none;flex-direction: column;}
.wrapper .adviceBody .formBody .pages .formPage form>.thirdQS.show{display: flex !important;}
.wrapper .adviceBody .formBody .pages .formPage form>.thirdQS input{
    border: 1px solid #D8D8D8;
    border-radius: 15px;
    display: flex;
    opacity: 1;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    min-height: 60px;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    color: #7f7f7f;
    align-items: center;
    justify-content: center;
    text-align: right;
    text-indent: 20px;
}
.wrapper .adviceBody .formBody .pages .formPage form>.thirdQS button.disable{background: #EFEFEF; color:#fff;}
.wrapper .adviceBody .formBody .pages .formPage form>.successQS{display: none;flex-direction: column;align-items: center;justify-content: center;}
.wrapper .adviceBody .formBody .pages .formPage form>.successQS.show{display: flex !important;}
.wrapper .adviceBody .formBody .pages .formPage form>.successQS img{}
.wrapper .adviceBody .formBody .pages .formPage form>.successQS span{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 47px;
/* identical to box height */
    text-align: center;
    color: #FFA2BE;
}
.wrapper .adviceBody .formBody .pages .formPage form>.successQS p{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #868686;
}
.wrapper .adviceBody .formBody .pages .formPage form>.successQS button{
    background: #FFA8C6;
}
.wrapper .adviceBody .formBody .pages .formPage .backbutton{
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: none;
    width: 55px;
    height: 45px;
    background: #FFA8C6;
    border-radius: 0px 0px 0px 24px;
}
.wrapper .adviceBody .formBody .pages .formPage .backbutton img{}
.wrapper .adviceBody .formBody .pages .whatsappPage{display: none;width: 100%;height: 100%;flex-direction: column;align-items: center;justify-content: center;}
.wrapper .adviceBody .formBody .pages .whatsappPage.show{display: flex !important;}
.wrapper .adviceBody .formBody .pages .whatsappPage .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.wrapper .adviceBody .formBody .pages .whatsappPage .content img{width: 100px;}
.wrapper .adviceBody .formBody .pages .whatsappPage .content p{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #808080;
    margin: 30px 0 20px 0;
}
.wrapper .adviceBody .formBody .pages .whatsappPage .content a{
    color: white;
    width: 100%;
    height: 66px;
    background: #EC709B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .adviceBody .formBody .pages .telegramPage{display: none;width: 100%;height: 100%;flex-direction: column;align-items: center;justify-content: center;}
.wrapper .adviceBody .formBody .pages .telegramPage.show{display: flex !important;}
.wrapper .adviceBody .formBody .pages .telegramPage .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.wrapper .adviceBody .formBody .pages .telegramPage .content img{width: 100px;}
.wrapper .adviceBody .formBody .pages .telegramPage .content p{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #808080;
    margin: 30px 0 20px 0;
}
.wrapper .adviceBody .formBody .pages .telegramPage .content a{
    color: white;
    width: 100%;
    height: 66px;
    background: #EC709B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .adviceBody>.closeFormButton{
    transform: scale(.7);
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-right: 20px;
}



.responsiv{display: none;}

=======
#sec_6>.items .panel-group .panel-default .panel-collapse .panel-body img{}
>>>>>>> parent of b4142c5 (complate html css Breast_prosthesis)
